/* Main info  */
.main-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px; }
  .main-info__title {
    font-size: 2.2rem; }
  .main-info__input {
    font-size: 16px;
    padding: 10px 10px 10px 0px;
    margin-top: 10px;
    background: none;
    border: none;
    color: #fff;
    border-bottom: 1px solid #ddd; }
  .main-info__input::placeholder {
    color: #ddd;
    font-family: "Poppins", sans-serif; }
  .main-info__btn {
    padding: 10px 30px;
    margin-left: 20px;
    color: #001414;
    font-weight: bold;
    letter-spacing: 0.5px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; }
  .main-info__btn:hover {
    color: #001414;
    background-color: rgba(255, 255, 255, 0.753); }
  .main-info__img {
    width: 140px;
    height: 140px; }
  .main-info__paragraph {
    margin-top: 10px;
    font-style: 0.9rem;
    color: #1a0d0e; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: white; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fffffa; }

.wrapper {
  width: 800px;
  height: 400px;
  background-color: #62A87C;
  border-radius: 10px;
  padding: 1rem; }

.top {
  height: 260px; }
  .top__title {
    text-align: center;
    padding: 10px;
    color: #f3f3f3; }

/* Botttom */
.bottom {
  height: 140px; }

.headings,
.weather-info {
  display: flex;
  align-items: center; }

.headings p,
.weather-info p {
  width: 33.3%;
  text-align: center; }

.headings {
  height: 35%;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: #FFF07C; }

.weather-info {
  height: 65%;
  font-size: 1.5rem; }
